---
layout: base.njk
permalink: /index.html
title: Blog
description: New writing on theology, music, and culture from Second Adam & the New Creations.
---
<section id="writings">
  <div class="writings-inner">

    <span class="section-label">Writings</span>
    <h2 class="section-title">The Blog</h2>
    <div class="divider"></div>

    <div class="category-nav">
      <a href="/blog" class="active">All</a>
      <a href="/blog/theology/">Theology</a>
      <a href="/blog/music/">Music</a>
      <a href="/blog/culture/">Culture</a>
    </div>

    {%- set posts = collections.post | reverse %}
    {%- if posts.length %}
    <div class="post-list">
      {%- for post in posts %}
      {%- set cats = [] %}
      {%- for tag in post.data.tags %}{% if tag != "post" %}{% set _ = cats.push(tag) %}{% endif %}{% endfor %}
      <a class="post-item" href="/blog{{ post.url }}">
        <div class="post-number">{% if loop.index < 10 %}0{% endif %}{{ loop.index }}</div>
        <div>
          <div class="post-title">{{ post.data.title }}</div>
          <div class="post-excerpt">{{ post.data.excerpt }}</div>
          {%- if cats.length %}
          <span class="post-tag">{{ cats[0] }}</span>
          {%- endif %}
        </div>
      </a>
      {%- endfor %}
    </div>
    {%- else %}
    <p class="blog-empty">New posts coming soon.</p>
    {%- endif %}

  </div>
</section>
